{% extends "base.html" %}
{% block title %} <title>Об авторе проекта</title> {% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Меня зовут Роман и это мой первый проект на Django.
  <div id="badges">
    Вы можете найти меня в социальных сетях:
    <a href="https://www.linkedin.com/in/roman-bespalov1997/">
      <img src="https://img.shields.io/badge/LinkedIn-blue?style=for-the-badge&logo=linkedin&logoColor=white" alt="LinkedIn Badge"/>
    </a>
    <a href="https://t.me/bespalovroman1997">
      <img src="https://img.shields.io/badge/Telegram-blue?style=for-the-badge&logo=Telegram&logoColor=white" alt="Telegram Badge"/>
    </a>
    <a href="https://github.com/RomanBespalov">
      <img src="https://img.shields.io/badge/GitHub-black?style=for-the-badge&logo=GitHub&logoColor=white" alt="GitHub Badge"/>
    </a>
  </div>
</p>
{% endblock %}